

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reservations</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <style>
        body{
            align-content: center;
        }
        table{
            border: 2px solid #000000;
            align-self: center;
            width: 100%;
        }
        tr td{
            border: 2px solid #000000;
            white-space: nowrap;
        }
        th{
            border: 2px solid #000000;
            white-space: nowrap;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Imprumuturi </h1>
        </div>
    </div>
    <a th:href="@{/gestiune/v1/home}">
        <button type="button" class="btn btn-success">Back</button>
    </a>
    <a th:href="@{/gestiune/v1/rents-ui/edit-add}">
        <button type="button" class="btn btn-success">Adauga imprumut</button>
    </a>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <!--
                     <th>Id</th>
                    -->
                    <th>Nume utilizator</th>
                    <th>Titlu carte</th>
                    <th>Data imprumut</th>
                    <th>Data returnare</th>
                    <th>Penalitati</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${rents == null}">
                    <td colspan="2"> No rent available</td>
                </tr>
                <tr th:each="rent : ${rents}">
                    <td>
                        <span th:text="${rent.getUtilizator().getNume()}"> Nume Utilizator </span>

                    </td>
                    <td>
                        <span th:text="${rent.getCarte().getTitlu()}"> Titlu Carte</span>

                    </td>
                    <td>
                        <span th:text="${rent.getDataImprumut()}"> Data Imprumut </span>

                    </td>
                    <td>
                        <span th:text="${rent.getDataRestituire()}"> Data Restituire </span>

                    </td>
                    <td>
                        <span th:text="${rent.getPenalitati()}"> Penalitati </span>

                    </td>
                    <td>
                        <a th:href="@{/gestiune/v1/rents-ui/delete/{id}(id=${rent.getIdImprumut()})}">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                        <a th:href="@{/gestiune/v1/rents-ui/update/{id}(id=${rent.getIdImprumut()})}">
                            <button type="button" class="btn btn-primary">Edit</button>
                        </a>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>